* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__header {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__step {
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
}

.page__close {
  position: absolute;
  right: 0;
  background: none;
  border: none;
}

.page__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__timer {
  font-size: 72px;
}

.page__description {
  color: rgba(0, 0, 0, 0.4);
}

.page__footer {
  text-align: center;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__title {
  font-size: 24px;
}

.page__button {
  width: 140px;
  height: 46px;
  margin-top: 2rem;
  font-size: 18px;
  display: block;
  background-color: #ffe053;
  border: 1px solid #000000;
  cursor: pointer;
}

.page__reset {
  display: none;
}

.page__next {
  display: none;
}

.page__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__statistic {
  display: block;
  width: 100px;
  margin-top: 4rem;
  background: none;
  border: none;
}

.page__statistic p {
  border-bottom: 2px solid #000;
}

.white {
  background-color: #fff;
}

.center-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 198px;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__close button {
  border: none;
  background: none;
}

.step1 {
  background-color: #ffe053;
}

.step1__button {
  background-color: #fff;
}

.hide {
  display: none;
}

.modal {
  display: none;
}
/*# sourceMappingURL=style.css.map */