* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.page__step {
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
}

.page__close {
  position: absolute;
  right: 0;
  background: none;
  border: none;
}

.page__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__timer {
  font-size: 72px;
}

.page__description {
  color: rgba(0, 0, 0, 0.4);
}

.page__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}

.page__title {
  font-size: 24px;
  text-align: center;
}

.page__button {
  display: block;
  width: 140px;
  height: 46px;
  margin-top: 2rem;
  font-size: 18px;
  background-color: #ffe053;
  border: 1px solid #000000;
  cursor: pointer;
}

.page__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.page__statistic {
  display: block;
  width: 100px;
  margin-top: 4rem;
  background: none;
  border: none;
}

.page__statistic p {
  border-bottom: 2px solid #000;
}

.page__arrow {
  border: none;
  background: none;
}

.statistics__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #FFE053;
}

.statistics__button {
  font-size: 18px;
  text-transform: uppercase;
  background: none;
  border: none;
}

.statistics__main {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100px;
  width: 100%;
}

.statistics__close {
  position: absolute;
  right: 0;
  background: none;
  border: none;
}

.pwa__desktop {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFE053;
}

.pwa__main {
  width: 600px;
}

.white {
  background-color: #fff;
}

.center-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 198px;
  padding: 0 1rem;
  background-color: #fff;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__close button {
  border: none;
  background: none;
}

.step1 {
  background-color: #ffe053;
}

.step1__button {
  background-color: #fff;
}

.hide {
  display: none;
}

.underline {
  border-bottom: 2px solid black;
}

@media (min-width: 820px) {
  .app {
    display: none;
  }
}

@media (max-width: 820px) {
  .pwa__desktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */